﻿.container
{
    width:600px;
    margin: 50px auto;

    .normal-entry
    {
        padding: 40px 20px;
    }

    button[type=submit]
    {
        width:100px;
    }

}

.field-validation-error
{
    color:#a94442;
}

#modal-entry
{

}