﻿@model ValidationTraining.Models.Soldier

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="robots" content="noindex, nofollow" />

    <title>Validation Demo</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap-theme.min.css">
    
    @Html.Raw(
        Bundle.Css()
        .Add("~/assets/bootstrap/css/bootstrap.min.css")
        .Add("~/assets/bootstrap/css/bootstrap-theme.min.css")
        .Add("~/assets/css/style.less")
        .Render("~/assets/css/style.min.css")
    )

    <script src="/assets/jquery-2.1.3.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
    
    <div class="container">

        <div class="normal-entry">
            
            @if (TempData["message"] != null)
            {
                <div class="alert alert-success" role="alert">
                    @TempData["message"]
                </div>
            }
            

            <form class="form-horizontal" method="POST">
                <div class="form-group @Html.ValidationClassFor(x => x.Name)">
                    <label class="col-sm-2">Name</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(x => x.Name, new { Class = "form-control" })
                        @Html.ValidationMessageFor(x => x.Name)
                    </div>
                </div>
                <div class="form-group @Html.ValidationClassFor(x => x.Email)">
                    <label class="col-sm-2">Email</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(x => x.Email, new { Class = "form-control" })
                        @Html.ValidationMessageFor(x => x.Email)
                    </div>
                </div>
                <div class="form-group @Html.ValidationClassFor(x => x.Health)">
                    <label class="col-sm-2">Health</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(x => x.Health, new { Class = "form-control" })
                        @Html.ValidationMessageFor(x => x.Health)
                    </div>
                </div>
                <div class="form-group @Html.ValidationClassFor(x => x.Stamina)">
                    <label class="col-sm-2">Stamina</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(x => x.Stamina, new { Class = "form-control" })
                        @Html.ValidationMessageFor(x => x.Stamina)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <button type="button" id="btnShowModal" class="btn btn-default">Show Modal Form</button>
                    </div>
                </div>
            </form>
         
        </div>
    </div>

    <div class="modal fade" id="modal-entry" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Soldier Entry</h4>
                </div>
                <div class="modal-body" style="min-height:220px; max-height:300px;">
                    
                    <div class="form-group clearfix" data-property="Name">
                        <label class="col-sm-2">Name</label>
                        <div class="col-sm-10">
                            <input type="text" id="txtName" class="form-control" />
                            <div data-property="Name" class="field-validation-error"></div>
                        </div>
                    </div>
                    <div class="form-group clearfix" data-property="Email">
                        <label class="col-sm-2">Email</label>
                        <div class="col-sm-10">
                            <input type="text" id="txtEmail" class="form-control" />
                            <span data-property="Email" class="field-validation-error"></span>
                        </div>
                    </div>
                    <div class="form-group clearfix" data-property="Health">
                        <label class="col-sm-2">Health</label>
                        <div class="col-sm-10">
                            <input type="text" id="txtHealth" class="form-control" />
                            <span data-property="Health" class="field-validation-error"></span>
                        </div>
                    </div>
                    <div class="form-group clearfix" data-property="Stamina">
                        <label class="col-sm-2">Stamina</label>
                        <div class="col-sm-10">
                            <input type="text" id="txtStamina" class="form-control" />
                            <span data-property="Stamina" class="field-validation-error"></span>
                        </div>
                    </div>
                    
                </div> 
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" id="btnSaveModal" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>

    @Html.Raw(
        Bundle.JavaScript()
        .Add("~/assets/js/script.js")
        .Render("~/assets/js/script.min.js")
    )

</body>
</html>
